html,
body {
  scroll-behavior: smooth !important;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 1440px;
  min-height: 100vh;
  background-color: #e1d4c9;
  font-family: "Inter", sans-serif;
  margin: 0 auto;
}

.container {
  max-width: 1440px;
  width: 100vw;
  padding: 20px 0 40px 0;
  margin: 0 auto;
}
a {
  cursor: pointer;
  text-decoration: none;
}
.header,
section,
footer {
  max-width: 1360px;
  margin-left: 40px;
  margin-right: 40px;
}
.header img,
.header video {
  width: 100%;
  border-radius: 40px;
}

.logo-img {
  width: 100px;
  height: auto;
}

.burger-icon {
  display: none;
  width: 44px;
  height: 44px;
  border-radius: 100px;
  border: 1.5px solid #665f55;
  cursor: pointer;
  text-align: center;
  margin-left: auto;
  vertical-align: auto;
  padding-top: 8px;
}
.burger-icon span {
  display: block;
  width: 16px;
  width: 20px;
  height: 2px;
  background-color: #333;
  margin: 8px auto;
  transition: 0.4s;
}
.show-menu .burger-icon span:first-child {
  transform: rotate(45deg);
  transition: 0.4s;
}
.show-menu .burger-icon span:last-child {
  transform: rotate(-45deg);
  position: relative;
  top: -2px;
  transition: 0.4s;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
}
.show-menu .burger-icon {
  padding-top: 18px;
}
.show-menu .burger-icon span {
  display: block;
  transform: rotate(45deg);
  width: 16px;
  height: 2px;
  margin: 8px auto;
  margin: auto;
}

.nav-menu,
.nav-menu ul {
  display: flex;
}
.nav-menu {
  margin-bottom: 20px;
  align-items: center;
}
.header-menu {
  width: 44px;
  border: 1px solid #665f55;
  padding: 8px;
  display: none;
}
.dropdown-menu {
  width: 16px;
  height: 8px;
  display: none;
}

.dropdown-border {
  width: 44px;
  height: 44px;
  border-radius: 100px;
  border: 1px solid #665f55;
  display: none;
}
.text-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.nav-bar {
  display: flex;
  width: 100%;
  justify-content: center;
  overflow: hidden;
}
.image-text {
  display: flex;
  align-items: center;
  border-radius: 40px;
  position: relative;
  overflow: hidden;
}

.image-text video {
  width: max-content;
  margin: 0 auto;
  min-width: 100%;
  height: 100%;
  overflow-y: hidden;
  background-color: #665f55;
}

.image-text img:hover,
.image-text video:hover {
  transform: scale(1.1);
}
.image-text article {
  position: absolute;
  width: 530px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  top: 100px;
  left: 100px;
}
h1 {
  font-size: 72px;
  font-weight: 600;
  color: #e1d4c9;
  line-height: 75.6px;
}
h1 span,
h2 span {
  color: #b0907a;
  font-style: italic;
}
em {
  color: #b0907a;
  font-style: italic;
}
h1 ~ p {
  color: #e1d4c9;
  line-height: 24px;
}
.nav-menu ul {
  list-style: none;
  gap: 40px;
  display: flex;
  align-items: center;
  flex: 1;
  font-weight: 600;
  font-size: 16px;
  justify-content: center;
  line-height: 24px;
}
.nav-menu ul li:last-of-type {
  justify-items: flex-end;
}

.menu-click {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu-click a {
  display: flex;
  flex-direction: row;
  gap: 4px;
  font-weight: 600;
}
.menu-click img {
  display: inline-block;
  width: 20px;
  height: 20px;
  align-self: baseline;
  vertical-align: top;
  border-radius: 0;
  font-weight: 600;
}
.nav-menu a {
  color: #403f3d;
}
.logo-img {
  justify-items: flex-start;
  display: inline-block;
  height: 60px;
  margin-right: 0;
}

.menu-btn {
  padding: 20px 78px 20px 78px;
  border-radius: 100px;
  border: 2px solid #e1d4c9;
  background-color: #e1d4c9;
  position: relative;
  width: 200px;
}

.menu-btn a {
  color: #403f3d;
  font-weight: 600;
  font-size: 16px;
}

.menu-btn a:hover::after {
  content: url("./assets/coffee-cup.png");
  margin-left: 100%;
  width: 55px;
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  transition: opacity 0.3s ease;
}
.menu-btn span:hover {
  text-align: center;
}

.menu-btn a:hover {
  position: relative;
  right: 15px;
}

.nav-menu li a::after {
  content: "";
  height: 6px;
  background: #403f3d;
  display: block;
  position: relative;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  transition: width 0.3s ease;
}

.nav-menu li a:hover::after {
  width: 100%;
}

.coffee-slider,
.coffee-slider article {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.coffee-slider {
  height: 800px;
  position: relative;
  margin-top: 100px;
}
.coffee-slider article {
  transition: transform 0.5s ease-in-out;
}
.coffee-slider .arrow {
  display: flex;
  position: absolute;
  top: 405px;
  right: 5px;
  border: 1px solid #665f55;
  background-color: transparent;
  display: block;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  cursor: pointer;
  text-align: center;
}
.coffee-slider .arrow .block {
  position: absolute;
  display: inline-block;
}
.coffee-slider .hover:hover {
  position: absolute;
}

.coffee-slider .arrow:hover {
  background-color: #403f3d;
  transition: 0.3s;
}

.coffee-slider .arrow .block:hover {
  visibility: hidden;
}

.coffee-slider .left {
  left: 5px;
}
.coffee-slider .left {
  transform: rotate(180deg);
}

.coffee-slider > article > img:first-of-type {
  margin-bottom: 20px;
}

.slider-line {
  transition: background-color 0.5s ease-in-out;
}

h2 {
  font-size: 60px;
  font-weight: 600;
  line-height: 75px;
  text-align: center;
  margin-bottom: 40px;
  color: #403f3d;
}

.coffee-slider > article > img {
  width: 480px;
  height: 480px;
}

h3 {
  font-size: 24px;
}
.coffee-slider article h3,
.coffee-slider article p:first-of-type {
  margin-bottom: 16px;
}
.coffee-slider p:first-of-type {
  width: 480px;
  line-height: 24px;
  text-align: center;
}

.coffee-slider p:last-of-type {
  font-size: 24px;
  font-weight: 600;
}

.slider-lines span {
  width: 40px;
  height: 4px;
  border-radius: 100px;
  background-color: #c1b6ad;
  margin-top: 40px;
}
.slider-lines {
  display: flex;
  gap: 12px;
}

.about-section h2 {
  text-align: left;
}

.about-section img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-section .collage {
  max-width: 1360px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 190px 1fr;
  column-gap: 40px;
}

.about-section .grid-item {
  width: 100%;
  border-radius: 20px;
}

.collage .one {
  grid-row: 1 / span 2;
  grid-column: 1 / span 1;
  height: 590px;
  margin-bottom: 40px;
}
.collage .two {
  grid-column: 2 / span 1;
  height: 430px;
  grid-row: 1 / span 1;
}

.collage .three {
  grid-row: auto;
  grid-column: 1 / span 1;
  height: 430px;
  margin-top: auto;
}
.collage .four {
  grid-row: 2 / span 2;
  grid-column: 2 / span 1;
  height: 590px;
  margin-top: auto;
}

.grid-item {
  overflow: hidden;
  position: relative;
}

.grid-item img {
  width: 100%;
  transition: transform 0.3s ease-in-out;
}

.grid-item:hover img {
  transform: scale(1.1);
}

section {
  margin-bottom: 100px;
}
.mobile-app {
  font-weight: 400;
  line-height: 24px;
  display: flex;
  gap: 100px;
  align-items: center;
}

.mobile-app div:first-child {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-app button {
  width: 200px;
  height: 64px;
  border-radius: 100px;
  border: 1px solid #665f55;
  padding: 12px 20px 12px 20px;
  display: inline-block;
  display: flex;
  cursor: pointer;
}

.mobile-app button .big-text {
  color: #403f3d;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  font-size: 16px;
}

.app-text {
  text-align: left;
}

.second-icon {
  width: 92px;
}

.mobile-app button .small-text {
  font-weight: 600;
  font-size: 10px;
  line-height: 14px;
  color: #403f3d;
  margin-right: auto;
}
.mobile-app h2 {
  text-align: left;
  margin-bottom: 0;
}
.mobile-app article img {
  width: 36px;
  height: 36px;
  margin-right: 6px;
}

.button-container {
  display: flex;
  gap: 20px;
}
.button-container button {
  display: flex;
  width: 200px;
  padding: 12px 20px;
  align-items: center;
  gap: 8px;
  background-color: transparent;
}

.app-button {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
}

.mobile-app button:hover span {
  color: #e1d4c9;
  transition: 0.3s;
}
.mobile-app button:hover {
  background-color: #403f3d;
  transition: 0.3s;
}

.icon-hover {
  position: absolute;
  display: none;
}

button:hover .icon-hover {
  display: inline-block;
}

footer {
  height: 450px;
  background-color: #665f55;
  border-radius: 40px;
  display: flex;
  align-items: center;
  gap: 100px;
  padding: 100px;
  margin-bottom: 40px;
}

footer h2 {
  color: #e1d4c9;
  text-align: left;
}
footer h2 span {
  display: block;
}

footer .social-icons {
  display: flex;
  gap: 12px;
}

footer .social-icons button {
  border: 1px solid #c1b6ad;
  background-color: transparent;
  border-radius: 30px;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .social-icons button:hover {
  background-color: #e1d4c9;
  transition: 0.3s;
}
.contact-info {
  color: #e1d4c9;
  font-weight: 600;
}
footer h3 {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 40px;
}

footer ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}
footer li {
  font-size: 16px;
  line-height: 24px;
  list-style: none;
  display: flex;
  align-items: flex-start;
  gap: 6px;
}

footer li a {
  display: flex;
  align-items: flex-start;
  gap: 6px;
  color: #e1d4c9;
  font-weight: 600;
}

footer li .last-word span {
  margin-left: 4px;
}

footer .contact-info,
footer article {
  width: 50%;
}

footer h2 span {
  margin-right: 3px;
}

/* MENU PAGE */

.second-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  margin-bottom: 40px;
}

.second-header h2 {
  width: 800px;
}
.tabs ul {
  display: flex;
  gap: 16px;
}
.tab-item {
  display: flex;
  padding: 8px 16px 8px 8px;
  align-items: center;
  border-radius: 100px;
  color: #665f55;
  background-color: transparent;
  border: 1px solid #c1b6ad;
  text-transform: capitalize;
  width: fit-content;
}
.item-additives div,
.item-sizes {
  display: flex;
  display: flex;
  padding: 8px 16px 8px 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  /* background-color: red; */
  border-radius: 100px;

  /* border: 1px solid var(--Border-Light, #c1b6ad); */
}
.item-additives div div {
  border: 1px solid var(--Border-Light, #c1b6ad);
}
.item-sizes div {
  display: flex;
  padding: 8px 16px 8px 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid var(--Border-Light, #c1b6ad);
}
.item-sizes div a {
  color: #403f3d;
}

.item-sizes div:hover,
.item-additives div div:hover {
  background-color: #665f55;
}

.item-sizes div:hover a,
.item-additives div div:hover {
  color: #e1d4c9;
}
.item-sizes div a span:first-child {
  display: inline-block;
  width: 25px;
  height: 25px;
  text-align: center;
  border-radius: 100px;
  background-color: #c1b6ad;
  margin-right: 8px;
  color: #403f3d;
}
.item-additives div div::before {
  content: "1";
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 2px solid currentColor;
  box-shadow: inset -2px -2px 0 rgba(255, 255, 255 0.3),
    inset 2px 2px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
  background-color: #c1b6ad;
}

.item-additives div div:hover::before {
  color: #403f3d;
}
.item-additives div div:nth-child(2)::before {
  content: "2";
}
.item-additives div div:nth-child(3)::before {
  content: "3";
}

.modal-content article {
  display: flex;
  flex: 1 0 0;
  position: relative;
  left: 0;
}
.modal-container,
.modal-container article:first-child {
  display: flex;
  flex-direction: column;
}
.modal-container {
  position: absolute;
  left: 35%;
  display: flex;
  padding-left: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex: 1 0 0;
  padding: 10px;
}

.modal-cont {
  height: 500px;
  border-radius: 40px;
}

.modal-img {
  width: 310px;
  height: 310px;
  overflow: hidden;
  border-radius: 40px;
  background-repeat: no-repeat;
}
.modal-img img {
  border-radius: 40px;
}
.total {
  position: relative;
}
.total,
.cost {
  display: inline-flex;
  font-size: 24px;
}
.cost {
  position: relative;
  bottom: 50px;
  left: -20px;
  margin-left: auto;
}
.modal-info {
  line-height: 14px;
}
.modal-info span {
  position: relative;
  top: 3px;
}
.item-additives {
  display: flex;
  flex-direction: column;
}
.selected-additives {
  position: relative;
  padding-left: 18px;
}
.tab-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: #403f3d;
}

.tab-item button {
  background-color: transparent;
  border: none;
  font-size: 16px;
  font-weight: 600;
  color: #403f3d;
  text-transform: capitalize;
}
.tab-item img {
  padding: 3px 7px;
  background-color: #c1b6ad;
  border-radius: 100px;
}

.active,
.tab-item:hover {
  background-color: #665f55;
  transition: 0.3s;
}
.tab-item:hover a,
.active a {
  color: #e1d4c9;
  transition: 0.3s;
}

.tab-item:hover img,
.active img {
  background-color: #e1d4c9;
  transition: 0.3s;
}

.offer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
}
.offer {
  display: flex;
  flex-wrap: wrap;
}
button {
  cursor: pointer;
}

main {
  position: relative;
}
.load-btn {
  position: absolute;
  bottom: -50px;
  left: 45%;
  display: flex;
  padding: 8px 15px;
  border-radius: 10px;
  background-color: #b0907a;
  color: aliceblue;
  display: none;
}
#coffee-offer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.menu-items {
  display: flex;
  flex-direction: column;
  width: 310px;
  height: 506px;
  flex-shrink: 0;
  border-radius: 40px;
  border: 1px solid #c1b6ad;
  overflow: hidden;
}

.product-card {
  /* Your product card styles go here */
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
  /* display: flex; */
  padding: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.modal-content {
  position: relative;
  background-color: #e1d4c9;
  margin: 15% auto;
  border: 1px solid #888;
  width: 70%;
  height: auto;
  /* height: 500px; */
  border-radius: 40px;

  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex: 1 0 0;
  font-size: 16px;
  color: #403f3d;
}

.close {
  width: 100%;
  font-size: 20px;
  cursor: pointer;
  border-radius: 100px;
  border: 1px solid var(--Border-Dark, #665f55);
  background-color: transparent;
  display: flex;
  padding: 10px 78px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

.close:hover {
  background-color: #665f55;
  color: #e1d4c9;
}
.selected-sizes {
  background-color: #665f55;
}
.modal-info {
  font-size: 10px;
  width: 95%;
  border-top: 1px solid #c1b6ad;
  padding-top: 5px;
}
.modal-info,
.close {
  position: relative;
  top: -50px;
}
.item-description h3 {
  font-size: 24px;
  color: #403f3d;
}

.small-icon {
  width: 20px;
  height: 20px;
}

.layout:hover {
  width: 100%;
  transform: scale(1.05);
}
.layout {
  height: 310px;
  flex-shrink: 0;
  border-radius: 40px;
  background-repeat: no-repeat;
  background-size: cover;
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
}

.irish-coffee {
  background-image: url("./assets/coffee-menu-1.jpeg");
}
.kahlua-coffee {
  background-image: url("./assets/coffee-menu-2.jpeg");
}

.honey-raf {
  background-image: url("./assets/coffee-menu-3.jpeg");
}
.ice-cappuccino {
  background-image: url("./assets/coffee-menu-4.jpeg");
}
.espresso {
  background-image: url("./assets/coffee-menu-5.jpeg");
}
.latte {
  background-image: url("./assets/coffee-menu-6.jpeg");
}
.latte-macchiato {
  background-image: url("./assets/coffee-menu-7.jpeg");
}
.coffee-cognac {
  background-image: url("./assets/coffee-menu-8.jpeg");
}
.moroccan {
  background-image: url("./assets/tea-1.png");
}
.ginger {
  background-image: url("./assets/tea-2.png");
}
.cranberry {
  background-image: url("./assets/tea-3.png");
}
.sea-buckthorn {
  background-image: url("./assets/tea-4.png");
}

.marble-cheesecake {
  background-image: url("./assets/dessert-1.png");
}
.red-velvet {
  background-image: url("./assets/dessert-2.png");
}
.cheesecakes {
  background-image: url("./assets/dessert-3.png");
}
.creme-brulee {
  background-image: url("./assets/dessert-4.png");
}
.pancakes {
  background-image: url("./assets/dessert-5.png");
}
.honey-cake {
  background-image: url("./assets/dessert-6.png");
}
.chocolate-cake {
  background-image: url("./assets/dessert-7.png");
}
.black-forest {
  background-image: url("./assets/dessert-8.png");
}

.text-container {
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}

.text-container span {
  display: block;
}

.title,
.text-container span {
  color: #403f3d;
  font-size: 24px;
  font-weight: 600;
}
.title p {
  align-self: stretch;
  color: #403f3d;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.item-sizes .active {
  background-color: yellow;
}

@media screen and (max-width: 1400px) {
  body {
    max-width: 100vw;
    margin: 0 auto;
    overflow-x: hidden;
  }
  .burger-icon {
    display: block;
  }

  .hide-nav .logo-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }

  .hide-nav .nav-menu {
    display: flex;
  }

  .hide-nav .text-content {
    display: none;
  }

  .hide-nav .text-content a {
    cursor: pointer;
  }
  .hide-nav .text-content .nav-bar ul li,
  .hide-nav .menu-click {
    font-size: 32px;
  }
  .hide-nav .menu-click img {
    width: 40px;
    height: 40px;
  }
  .hide-nav .menu-click a {
    gap: 16px;
    align-items: flex-start;
  }
  .menu-click {
    justify-content: center;
  }
  .header-menu {
    max-width: 44px;
    height: 44px;
    display: block;
  }
  .dropdown-menu {
    display: block;
    text-align: center;
  }
  .dropdown-border {
    border-radius: 100px;
    display: flex;
    align-items: center;
  }
  .nav-menu li a::after {
    display: none;
  }
  ul li {
    text-decoration: none;
  }

  .image-text img,
  .image-text video {
    max-width: 100%;
    max-height: 644px;
    object-fit: cover;
    transition: none;
  }

  .image-text img:hover {
    transform: scale(1);
  }
  .enjoy {
    max-width: 530px;
    justify-content: center;
    align-items: flex-start;
    height: max-content;
  }

  .enjoy h1 {
    font-size: 72px;
  }
  .about-section .collage {
    grid-template-columns: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .coffee-slider .arrow,
  .button-container,
  .social-icons {
    pointer-events: none;
  }

  .coffee-slider > article > img,
  .coffee-slider p {
    width: auto;
  }

  .menu-btn a:hover::after {
    content: none;
  }
  .menu-btn a:hover {
    position: static;
    cursor: default;
  }
  .menu-btn span::after {
    content: " ";
    background-image: url("./assets/coffee-icon-small.svg");
    width: 20px;
    height: 20px;
    position: absolute;
    top: 30%;
    right: 50px;
  }

  .two,
  .three {
    display: none;
  }
  .collage img {
    max-width: 688px;
  }
  .collage .grid-item {
    max-width: 688px;
  }
  #slider-coffee article p {
    width: auto;
    max-width: 100%;
  }

  #slider-coffee {
    max-width: 100vw;
  }

  .mobile-app {
    flex-direction: column;
  }

  footer {
    height: 100vh;
    flex-direction: column;
    gap: 100px;
  }

  footer article,
  footer .contact-info {
    width: 100%;
    justify-content: center;
  }

  .layout:hover {
    transform: none;
  }
  a {
    cursor: default;
  }
  .tab-item:hover,
  tab-item:hover img {
    background-color: initial;
  }
  .tab-item:hover a {
    color: initial;
  }
  .tab-item:hover img,
  .active img {
    background-color: #c1b6ad;
  }

  .grid-item img {
    transition: none;
  }
  .collage .grid-item:hover img {
    transform: scale(1);
  }

  .show-menu {
    height: 100vh;
  }

  .show-menu .logo-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }

  .header-menu:visited .text-content {
    display: none;
  }

  .show-menu {
    display: flex;
    flex-direction: column;
  }

  .show-menu .text-content {
    flex-direction: column;
    align-items: center;
    padding: 60px 40px;
    gap: 100px;
  }
  .text-content .show-menu ul li,
  .menu-click {
    font-size: 32px;
  }
  .show-menu .menu-click img {
    width: 40px;
    height: 40px;
  }
  .show-menu .menu-click a {
    gap: 16px;
    align-items: flex-start;
  }

  .show-menu ul {
    flex-direction: column;
  }
  .show-menu .nav-bar,
  .show-menu .nav-bar ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    align-self: stretch;
  }
  .show-menu .nav-bar {
    margin-bottom: 100px;
  }
  .show-menu .header-menu {
    width: 44px;
    height: 44px;
    display: block;
  }
  .show-menu li a::after {
    display: none;
  }
  ul li {
    text-decoration: none;
  }
  .header,
  .coffee-slider,
  .about-section,
  .mobile-app,
  footer {
    width: auto;
  }
  .coffee-menu {
    margin: 0 40px;
  }
  footer {
    margin-top: 40px;
  }
}
@media screen and (max-width: 768px) {
  body {
    width: auto;
    max-width: 100vw;
  }
  .image-text img {
    width: auto;
    min-height: 552px;
    max-height: auto;
    object-fit: cover;
    border-radius: 40px;
  }
  .enjoy h1 {
    font-size: 42px;
    line-height: 48.3px;
  }
  h2 {
    font-size: 32px;
    line-height: 40px;
  }

  .image-text article {
    left: 0;
    top: auto;
    margin: 1em;
    width: auto;
    min-height: 430px;
    /* padding: 60px 16px; */
  }
  .coffee-slider h2 {
    text-align: center;
    width: 75%;
  }
  .enjoy {
    left: 0;
    min-height: 432px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    align-self: stretch;
  }

  .coffee-slider .arrow {
    display: none;
  }
  .about-section .collage {
    grid-template-columns: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .two,
  .three {
    display: none;
  }
  .collage {
    display: flex;
    max-width: 1360px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    align-self: stretch;
  }
  .collage img {
    max-width: 726px;
    max-height: 726px;
    flex-shrink: 1;
  }
  .collage .grid-item {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    align-self: stretch;
    width: auto;
  }

  .mobile-app {
    flex-direction: column;
  }
  .mobile-app .button-container {
    flex-direction: column;
  }

  footer {
    height: 100vh;
    flex-direction: column;
    padding: 60px 16px;
    width: 100%;
  }

  footer article,
  footer .contact-info {
    width: 100%;
    justify-content: center;
  }
  footer article h2 span {
    display: inline-block;
  }

  footer,
  section,
  .header {
    /* margin-left: 16px; */
    /* margin-right: 16px; */
    width: auto;
  }
  footer article {
    gap: 40px;
  }
  .phone-img img {
    max-width: 350px;
  }

  .collage .one {
    margin-bottom: 40px;
    flex-shrink: 1;
  }
  .collage .two,
  .collage .three {
    display: none;
  }

  .coffee-menu {
    margin: 0 16px;
  }

  .coffee-menu h2 {
    width: 100%;
  }

  .offer {
    grid-template-columns: 1fr;
    max-width: 1360px;
    align-self: stretch;
  }
  .offer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 40px;
    justify-items: center;
    align-items: center;
    margin-bottom: 100px;
  }
  .menu-items:nth-child(5),
  .menu-items:nth-child(6),
  .menu-items:nth-child(7),
  .menu-items:nth-child(8) {
    display: none;
  }
  .load-btn {
    display: block;
  }
  .hidden-btn {
    display: none;
  }
}
